// TITULOS
.title-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    font-size: $title-size;
    
    & .icon-title {
        width: 60px;
        align-self: flex-start;
        margin-right: 1em;
    }

    & .title-bold {
        font-family: $title-family;
        font-weight: $title-bold;
        letter-spacing: $title-spacing;
        color: $color-darken;
        white-space: pre-line;
        text-align: left;
        margin: 0;
    }
    & .title-ligth {
        font-family: $title-family;
        font-weight: $title-light;
        letter-spacing: $title-spacing;
        color: $color-darken;
        top: -32.5px;
        position: relative;
    }
}

// INICIO COVER HOME
.container-full {
	width: $width;
    background-image: url(../img/bg-icon.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: $color-cool;
    min-height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .container-full {
	    background-image: url(../img/bg-icon-mobile-final.svg);
    }
}

// LINEAS CORCHETES
.lines {
	width: $width;
    min-height: 100vh;
    background-color:transparent;
    position: absolute;
    top: calc(50% - 50%);
    top: -webkit-calc(50% - 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    display: flex;
    
        & .line-izq {
        min-height: 90vh;
        width: 50px;
        position: relative;
        border-left: 1px $white solid;
        border-top: 1px $white solid;
        border-bottom: 1px $white solid;
        }
        & .line-der {
        @extend .line-izq;
        border-right: 1px $white solid;
        border-left: 0;
        }
}
// Responsive Lineas
@media screen and (max-width: 480px) {
    .lines {
        padding: 25px;
	}
}
@media screen and (max-width: 320px) {
    .lines {
        display: none;
	}
}
// CONTENIDO COVER 
.content-cover {
	width: $content-width-cover;
    max-width: $max-width;
    background-color: transparent;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -100px;
    
        & .logotipo {
            background-color: transparent;
	        display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 600px;

            & img.logo-mobile {
                max-width: 200px;
                width: 100%;
                min-width: 200px;
                position: relative;
                vertical-align: middle;
                display: none;
            }
            & img.logo-desktop {
                max-width: 380px;
                min-width: 300px;
                position: relative;
                vertical-align: middle;
                margin-right: 20px;
            }
                // Responsive Logotipo
                @media screen and (max-width: 480px) {
                    & img.logo-desktop {
                        display: none;
                    }
                    & img.logo-mobile {
                        display: block;
                        max-width: 200px;
                        min-width: 200px;
                    }
                }
            & p {
                font-size: 1.1em;
                letter-spacing: 3px;
                color: $white;
                font-weight: 400;
                position: relative;
                margin-top: 25px;
                text-align: left;
            }
                // Responsive Leyenda
                @media screen and (max-width: 480px) {
                    & p {
                        text-align: center;
                        font-size: 1em;
                    }
                }
        }
        // Responsive Container Logotipo
        @media screen and (max-width: 480px) {
            & .logotipo {
                flex-direction: column;
                width: 100%;
            }
        }
        // Redes Sociales
        & .cont-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 400px;
            padding: 5px 0;
            margin-top: 20px;
            .btn-menu {
	            display: block;
                background-color: transparent;
                transition: all .6s ease;
                border-radius: 50%;
                    & .icon-menu-cover {
                        padding: 30px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        & img.up {
                            width: 40px;
                            position: absolute;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                            left: -webkit-calc(50% - 20px);
                            top: -webkit-calc(50% - 20px);
                            transition: all .6s ease;
                            display: block;
                            opacity: 1;
                        }
                        & img.down {
                            @extend img.up;
                            opacity: 0;

                        }
                    }
                    & .icon-menu-cover:hover{
                        transform: rotateX(180deg);
                    }
                    & .icon-menu-cover:active {
                        background-color: $color-darken;
                    }
                    & .icon-menu-cover:hover img.up {
                        opacity: 0;
                    }
                    & .icon-menu-cover:hover img.down {
                        opacity: 1;
                    }
                    & .icon-menu-cover:active{
                        border-radius: 50%;
                    }
                    // Botones con JQUERY
                    .icon-active {
                        background-color: $color-full;
                        opacity: 1;
                        transition: all .6s ease;
                    }
                }
                    & .btn-menu:active, & .btn-menu:hover{
                        background-color: $color-full;
                        box-shadow: 0 0 0 20px rgba(85, 117, 245, 0.1);
                    }
        }
        @media screen and (max-width: 480px) {
            & .cont-menu {
                width: 80%;
                min-width: 280px;
                justify-content: center;
                & img {
                    width: 40px;
                    padding: 0;
                }
            }
        }
}
    @media screen and (max-width: 480px) {
        .content-cover {
	        top: 0;
        }
    }

        // NUBE COVER BG
        .cont-nube {
	        background-image: url(../img/png/cloud.png);
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            width: $width;
            height: 320px;
            position: absolute;
            bottom: -100px;
            & .nube-cover {
                width: 130%;
                position: absolute;
                left: -webkit-calc(50% - 65%);
                left: calc(50% - 65%);
                opacity: .2;
                transform: rotateX(180deg);
                transform: rotateY(180deg);
                bottom: 60px;
                top: 0;
            }
        }
        @media screen and (max-width: 480px){
            .cont-nube {
                background-image: none;
                display: none;
                & .nube-cover {
                    display: none;
                }
            }
        }

        .section1 {
            background-color: white;
            position: relative;
            width: 100%;
            max-width: 1100px;
            margin: auto;
            height: 100vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 100px 0px;
        }






// Otros
.scrolloff {
pointer-events: none;
}
@media screen and (max-width: 480px) {
    .scrolloff {
    pointer-events: auto;
    }  
}
*::-webkit-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
:-moz-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
:-moz-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
::-moz-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
:-ms-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
::-ms-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}