.container-full {
	width: $width;
    background-image: url(../img/bg-icon.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: $color-cool;
    min-height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

// LINEAS CORCHETES
.lines {
	width: $width;
    min-height: 100vh;
    background-color:transparent;
    position: absolute;
    top: calc(50% - 50%);
    top: -webkit-calc(50% - 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
        & .line-izq {
        min-height: 90vh;
        width: 50px;
        position: relative;
        border-left: 1px $white solid;
        border-top: 1px $white solid;
        border-bottom: 1px $white solid;
        }
        & .line-der {
        @extend .line-izq;
        border-right: 1px $white solid;
        border-left: 0;
        }
}
// CONTENIDO COVER 
.content-cover {
	width: $content-width-cover;
    max-width: $max-width;
    background-color: transparent;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        & .item-cover {
            width: $width;
            position: relative;
        }
        & .welcome h2 {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 10px;
            color: $white;
            line-height: 20px;
        }
        & .logotipo {
	        display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -100px;
            & img {
                max-width: 400px;
                width: 100%;
                min-width: 300px;
                position: relative;
                vertical-align: middle;
                margin-right: 20px;
            }
            & p {
                font-size: 20px;
                letter-spacing: 5px;
                color: $white;
                font-weight: 400;
                position: relative;
                margin-top: 25px;
                text-align: left;
            }
        }
        & .botones {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
            & .item-btn {
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                & .btn {
                    width: 200px;
                    min-width: 200px;
                    display: inline-block;
                    position: relative;
                    margin-right: 20px;
                }
                & .btn:last-child{
                    margin-right: 0;
                }
                & .iconos {
                    background-color: white;
                    padding: 10px;
                    width: 90px;
                    min-width: 90px;
                    border-radius: 50%;
                    position: absolute;
                    margin-bottom: 10px;
                    left: -webkit-calc(50% - 45px);
                    top: -webkit-calc(50% - 45px);
                    left: calc(50% - 45px);
                    top: calc(50% - 45px);
                    opacity: 0;
                    z-index: 10;
                    transition: all .4s ease;
                    transform: translateY(-20px);
                    box-shadow: 0 10px 30px 0 rgba(0,0,0,.05);
                }
                & p {
                    color: $color-full;
                    background-color: white;
                    font-size: 1em;
                    font-weight: bold;
                    
                    line-height: 45px;
                    border-radius: 5px;
                    transition: all .4s ease;
                    box-shadow: 0 10px 30px 0 rgba(0,0,0,.05);
                }
                & .btn:nth-of-type(1) p{
                    color: white;
                    background-color: $color-full; 
                }
                & .btn:nth-of-type(3) p{
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                }
                & .btn:hover .iconos, & .btn:focus .iconos {
                    opacity: 1;
                    transform: translateY(0);
                }
                & .btn:hover p, & .btn:focus p {
                    transform: scale(.98);
                    opacity: 0;
                }
            }
        }
}
                    
                    




// CONTENIDO CONTACTO
.container-full-2 {
    @extend .container-full;
    background-image: none;
    background-color: white;    
    
        & .contenido-form {
	        background-color: white;
            width: $width;
            max-width: 700px;
            height: 380px;
            position: absolute;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0 10px 50px -30px rgba(0,0,0,.5);
            left: -webkit-calc(50% - 350px);
            top: -webkit-calc(50% - 190px);
            left: calc(50% - 350px);
            top: calc(50% - 190px);
            & .cont-izq {
                width: 50%;
                background-image: url(../img/bg-icon-white.svg);
                background-repeat: repeat;
                background-size: cover;
                background-color: rgba(162, 198, 72, 0.02);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                & figure {
                    width: 100%;
                    position: relative;
                    margin: auto;
                    & img {
                        width: 250px;
                        margin: auto;
                    }
                }
            }
            // FORMULARIO
            & .cont-der {
                @extend .cont-izq;
                background-image: none;
                background-color: white;
                & .form-home {
                    width: $width;
                    flex-direction: column;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    padding: 35px;
                    position: relative;                    
                    & .errores {
                        position: absolute;
                        background-color: $color-darken;
                        margin-top: -65px;
                        margin-left: 300px;
                        padding: 0 20px;
                        font-size: .9em;
                        border-radius: 5px;
                        width: 100%;
                        max-width: 230px;
                        display: none;
                        & p {
                        text-align: left;
                        line-height: 35px;
                        color: white;
                        font-weight: bold;
                        }
                    }
                    & .errores:before {
                        content: "";
                        border-color: transparent $color-darken transparent transparent ;
                        border-style: solid;
                        border-width: 5px 5px 5px 0;
                        left: -5px;
                        position: absolute;
                        top: -webkit-calc(50% - 5px);
                        top: calc(50% - 5px);
                    }
                    & .errores-commit {
                        @extend .errores;
                        bottom: 125px;
                    }
                    & input[class="campo"]{
                        width: $width;
                        outline: none;
                        line-height: 35px;
                        margin-bottom: 10px;
                        font-size: .9em;
                        color: #777;
                        border: none;
                        box-shadow: 0 1px 0 #dddddd;
                        position: relative;
                        transition: all .4s ease-in-out;
                    }
                    & input[class="campo"]:hover, & input[class="campo"]:focus {
                        box-shadow: 0 1px 0 $color-cool;
                        padding-left: 10px;
                        
                    }
                    & textarea[class="campo-commit"] {
                        @extend input[class="campo"];
                        line-height: normal;
                        max-width: 100%;
                        min-width: 100%;
                        min-height: 60px;
                        max-height: 250px;
                    }
                    & input[class="btn-enviar"]{
                        border: none;
                        outline: none;
                        cursor: pointer;
                        color: white;
                        background-color: $color-full;
                        line-height: 40px;
                        font-size: .9em;
                        font-weight: bold;
                        padding: 0 20px;
                        border-radius: 5px;
                        position: relative;
                        transition: all .4s ease-in-out;
                        display: block;
                        box-shadow: 0 0 0 transparent inset;
                        width: 50%;
                    }
                    & input[class="btn-enviar"]:hover, & input[class="btn-enviar"]:focus {
                        box-shadow: 200px 0 0 $color-cool inset;
                    }
  
                }
            }
        }
        & #canvas_maps {
            width: 100%;
            opacity: .2;
            & #map {
                height: 100vh;
                width: 100%;
              }
        }    
}







// Otros
.scrolloff {
pointer-events: none;
}
*::-webkit-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
:-moz-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
:-moz-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
::-moz-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
:-ms-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}
::-ms-input-placeholder {
    color: rgba(102, 102, 102, 0.5);
}













