.container-full {
	width: $width;
    background-image: url(../img/bg-icon.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

// LINEAS CORCHETES
.lines {
	width: $width;
    min-height: 100vh;
    background-color:transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
        & .line-izq {
        min-height: 90vh;
        width: 50px;
        position: relative;
        border-left: 1px $white solid;
        border-top: 1px $white solid;
        border-bottom: 1px $white solid;
        }
        & .line-der {
        @extend .line-izq;
        border-right: 1px $white solid;
        border-left: 0;
        }
}
// CONTENIDO COVER 
.content-cover {
	width: $content-width-cover;
    max-width: $max-width;
    background-color: transparent;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        & .item-cover {
            width: $width;
            position: relative;
        }
        & .welcome h2 {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 5px;
            color: $white;
            line-height: 20px;
        }
        & .logotipo {
	        display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -100px;
            & img {
                max-width: 400px;
                width: 100%;
                min-width: 300px;
                position: relative;
                vertical-align: middle;
                margin-right: 20px;
            }
            & p {
                font-size: 20px;
                letter-spacing: 5px;
                color: $white;
                font-weight: 400;
                position: relative;
                margin-top: 25px;
            }
        }
        & .botones {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
            & .item-btn {
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                & .icon-top {
                    width: 200px;
                    min-width: 200px;
                    display: block;
                    height: 200px;
                    background-color: white;
                }
            }
        }
}








.container-full-2 {
    background-color: $color-darken;
    min-height: 100vh;
}