// Responsive Container Logotipo
@media screen and (max-width: 480px) {
    & .logotipo {
        flex-wrap: wrap;
    }
    & img.logo-mobile {
        margin: auto;
        display: block;
    }
    & img.logo-desktop {
        display: none;
    }
}
