// COLORES //#6ec35a;
$color-cool: #6ec35a;
$color-full: #5575f5;
$color-light-full: #83a1ff;
$color-darken: #282828;
$white: white;
$color-text: #777777;

// WIDTH
$width: 100%;
$content-width-cover: 80%;
$max-width: 1100px;
$min-width: 960px;

// TEXTOS TITLE BOLDER
$title-family: 'Montserrat', sans-serif;
$title-bold: 700;
$title-spacing: -4px;
$title-size: 1.5em;

// TEXTOS TITLE LIGHT
$title-family: 'Montserrat', sans-serif;
$title-light: 200;
$title-spacing: -4px;